#top {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  background: $primary-gradient;
  color: $white;
  text-align: center;

  .header-content {
    padding: 0 1em;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p {
    font-size: 1.2rem;
    max-width: 800px;
    line-height: 1.9em;
  }
}
