/* PR.scss */
.pr-section {
  background: linear-gradient(135deg, #e0c3fc, #8ec5fc);
  // color: #fff;
  text-align: center;
  flex-direction: column;
  padding: 80px 20px;
  border-radius: 12px;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    max-width: 850px;
    margin: 0 auto 40px;
    line-height: 1.9em;
  }

  .cta-button {
    display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(90deg, #58a6ff, #1f6feb);
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
